<section name="about_us">
	<div class="bg"></div>
  <div>
    <div class="title">
      <h1>我们服务于各种领域</h1>
    </div>
    <div class="content">
      <ul>
        <li><span>B2B</span></li>
        <li><span>B2C</span></li>
        <li><span>电子商务</span></li>
        <li><span>企业</span></li>
        <li><span>教育</span></li>
        <li><span>非营利</span></li>
        <li><span>创业公司</span></li>
      </ul>
    </div>
  </div>
</section>