@import 'toolbox_esten';

$main-red: #E53935;
$sub-red: #E57373;

.container { padding: 0; }
.login_form {
	@extend .vm;
	@include size(500px, 600px);
	> .logo {
		@include size(140px, 140px);
		margin: 20px auto;
		background: url(logo.png) no-repeat center center;
		background-size: 140px;
	}
	> .title {
		margin-bottom: 30px;
		text-align: center;
		h1 {
			font-size: 20px;
			margin-bottom: 4px;
		}
		h4 {
			font-size: 13px;
		}
	}
	input[type="email"],
	input[type="password"],
	input[type="submit"] {
		@include size(300px, 34px);
		@include box-sizing(border-box);
		display: block;
		padding: 0 4px;
		margin: 10px auto;
		font-size: 14px;
		border: solid 1px $grey_400;
		color: $grey_700;
		&:focus {
			border: solid 1px $blue_400;
			outline: 0;
		}
	}
	input[type="submit"] {
		padding: 0;
		margin: 20px auto 10px;
		color: #FFFFFF;
		border: solid 1px $sub-red;
		background-color: $sub-red;
		cursor: pointer;
		-webkit-appearance: button;
						appearance: button;
		&:hover {
			border: solid 1px $main-red;
			background-color: $main-red;
		}
	}
	.forgot_pass {
		margin-left: 100px;
		&:hover { text-decoration: underline; }
	}
	.return_home {
		margin-right: 100px;
		&:hover { text-decoration: underline; }
	}
}
.admin_banner {
	@include size(100%, 50px);
	background: $grey_200;
	border-bottom: solid 1px $grey_300;
	> .logo {
		@include size(350px, 50px);
		@include box-sizing(border-box);
		padding-left: 40px;
		background: url(logo.png) no-repeat left center;
		background-size: 40px;
		h1 {
			line-height: 32px;
			font-size: 20px;
		}
		h4 { font-size: 12px; }
	}
	> .controls > li {
		@extend .inline-middle;
		> a {
			@include box-sizing(border-box);
			display: block;
			line-height: 50px;
			padding: 0 40px;
			cursor: pointer;
			&:hover { text-decoration: underline; }
		}
	}
}