$main-red: #E53935;
$sub-red: #E57373;
body {
	color: $grey_800;
}
.banner {
	> .logo { background-image: url(logo.png); }
	> .title * {
		color: #FFFFFF;
		text-shadow: 0 1px 3px #000000;
	}
	> .nav > li > a {
		color: #FFFFFF;
		text-shadow: 0 1px 3px #000000;
		&:hover {
			color: $sub-red;
			text-shadow: 0 1px 3px #000000;
		}
	}
}
.main-body {
	section[name="home"] {
		background-image: url(home_page_bg.jpg);
		// background-color: $grey_900;
		.slogan h1 {
			color: #FFFFFF;
			text-shadow: 0 1px 3px #000000;
		}
	}
}